<div style="width: 100%;">
  <input style="padding: 4px;width: calc(100% - 90px);max-width: 400px;" id="myInput" type="text" placeholder="Filter...">
  <button id="increasing"><i class="fa-solid fa-arrow-up-short-wide"></i></button>
  <button id="decreasing"><i class="fa-solid fa-arrow-down-wide-short"></i></button>
</div>
